@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

label {
    font-size: large;
}

.myForm {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    background-color: beige;
}

label {
    margin: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
}

tr:hover {
    background-color: #f5f5f5;
}

.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #45a049;
}

.custom-button:active {
    background-color: #3e8e41;
}

input[type=text] {
    width: 96%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px -56px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date] {
    width: 96%;
    padding: 12px 20px;
    margin: 8px 0;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.status1 {
    width: 96%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add {
    padding-right: 50px;
    width: 96%;
    text-align: center;
}

.close {
    padding: 0;
}

.searchbar {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 88%;
    gap: 10px
}
.inputs{
    width: 30%;
}
.table_sec{
    width: 70%;
    height: 80%;
}
h1{
    display: block;
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 10px;
    
}
.task{
    width: 30%;
    height:80%;
}

